<h3>Carrito de compras</h3>

    <table class="table text-center auto">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ch of listaChocolates$ | async" >
                <td>{{ch.nombre}}</td>
                <td>{{ch.cantidad}}</td>
                <td>{{ch.precio*ch.cantidad}}</td>
                <td><button class="btn" (click)="quitarChocolate(ch)">❎</button></td>
            </tr>
        </tbody>
    </table>
            <table *ngIf="totalChocolates==0" class=" table text-center center">
                <div class="total text-center">
            <div>
                <p>No hay chocolates en el carrito</p>
                <img id="logocarro" src="/assets/img/Logo1.png" width="200" alt="hola">
            </div>
                </div>
            </table>
            <table *ngIf="totalChocolates>0" class="table text-center auto">
                <tbody>
                    <tr>
                        <td><p>Chocolates en el carrito:</p></td>
                        <td><h3>{{totalChocolates}}</h3></td>
                    </tr>
                    <tr>
                        <td><h6>Precio del carrito:</h6></td>
                        <td><h3>{{totalPrecio | currency:'USD':'symbol':'1.2-2'}}</h3></td>
                    </tr>
                </tbody>
            </table>