<div class="centrad">
    <div class="card" style="width: 30rem;">
        <h2 class="card-title text-center">{{title}}</h2>
        <h6 class="card-title text-center">{{subtitle}}</h6>
  <div class="card-body">
    <p class="card-text">En nuestra chocolatería encontrarás una variedad de chocolates artesanales elaborados con ingredientes seleccionados para ofrecerte la mejor experiencia de sabor.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><img src="/assets/img/logo mail.png" alt="mail" width="80"> {{mail}}</li>
    <li class="list-group-item"><img src="/assets/img/logo whatsapp.png" alt="whastapp" width="80"> {{telefono}}</li>
    <li class="list-group-item"><img src="/assets/img/logo instagram.png" alt="instagram" width="80"> rauch.chocolateria</li>
  </ul>
  <div class="card-body text-center">
    <a href="https://www.instagram.com/maxirebainera/" class="card-link">Contactar</a>
  </div>
</div>
</div>
    