<h1 class="text-center">{{title}}</h1>
    <h4 class="text-center">{{subtitle}}</h4>
    
    <div>
    <p class="text-center">En nuestra chocolatería encontrarás una variedad de chocolates artesanales elaborados con ingredientes seleccionados para ofrecerte la mejor experiencia de sabor.</p>
     <table class="table text-start">
        <thead class="text-start">
            <tr>
                <th colspan="2"><h3> <span>Contacto</span></h3></th>
                <th></th>
             </tr>
        </thead>
        <tbody>
            <tr>
                <td>Teléfono</td>
                <td>2494-599909</td>
            </tr>
          
            <tr>     
                <td><img src="assets/img/logo instagram.png" alt="instagram" width="80"></td>
                <td>rauch.chocolates</td>
            </tr>
                <tr>
                    <td>e-mail</td>
                    <td> {{mail}}</td>
                </tr>
                
                
                        <tbody>
          
    </table> 
    </div>










