
<table  class="table text-center">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let choco of chocolates" [ngClass]="{'oferta': choco.oferta}">
            <td><img clas="img-thumbnail" [src]="choco.imagen" [alt]="choco.nombre" width="100"></td>
            <td>{{choco.nombre}}</td>
            <td>{{choco.tipo}}</td>
            <td>{{choco.precio | currency:'USD':'symbol':'1.2-2'}}</td>
            <td *ngIf="choco.stock!=0">{{choco.stock}}</td>
            <td *ngIf="choco.stock==0"><span class="alert alert-warning">SIN STOCK</span></td>
            <td>
                <button class="btn btn-light" (click)="downCantidad(choco)">-</button>
                <input type="text" [ngModel]="choco.cantidad" class="form-control text-center" [disabled]="choco.stock==0" style="width: 40px;">
                <button class="btn btn-light" (click)="upCantidad(choco)">+</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center">
    <button class="btn btn-primary" (click)="comprar()">Comprar</button>