<h3>Lista de productos</h3>
<table class="table text-center auto">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">precio</th>
            <th scope="col">Stock</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let choco of chocolates" [ngClass]="{'oferta': choco.oferta}">
            <td><img class="img-thumbnail" [src]="choco.imagen" [alt]="choco.nombre" width="80"></td>
            <td>{{choco.nombre}}</td>
            <td>{{choco.tipo}}</td>
            <td>{{choco.precio | currency:'USD':'symbol':'1.2-2'}}</td>
            <td *ngIf="choco.stock!=0">{{choco.stock}}</td>
            <td *ngIf="choco.stock==0"><span class="alert alert-warning margin-left">SIN STOCK</span></td>
            <td >
                <app-input-integer [(cantidad)]="choco.cantidad" [max]="choco.stock" *ngIf="choco.stock" (maximoStock)="maximoStock($event)"></app-input-integer>
            </td>
                <td><button *ngIf="choco.stock" class="btn btn-outline-warning" (click)="agregarCarrito(choco)">🛒</button></td>
        </tr>
    </tbody>
</table>
