<nav class="navbar navbar-expand-lg bg-body-tertiary"data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo3.jpg" alt="Logo" width="200" class="d-inline-block-text-top" style="border-radius: 15px;">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" data-bs-theme="dark" style="margin-left: 0px">
  <div class="row">
    <div class="col-10"><app-choco-list></app-choco-list></div>
    <div class="col-2">Carrito de compras</div>
  </div>
</div>

 <footer class="text-center text-lg-start bg-light text-muted">
    <div class="text-center p-4">
      {{title}}© - 2025 - Real and Unique CHocolate
    </div></footer>